[submodule "godot-kotlin/godot_native/cpp_bindings"]
	path = godot-kotlin/godot_native/cpp_bindings
	url = https://github.com/GodotNativeTools/cpp_bindings.git
[submodule "godot-kotlin/godot_native/godot_headers"]
	path = godot-kotlin/godot_native/godot_headers
	url = https://github.com/GodotNativeTools/godot_headers.git
